**/.git
**/.github
**/.env
**/.env.*
**/*secret*
**/*credential*
**/id_rsa*
**/id_ed25519*
**/.ssh
**/.aws
**/.azure
**/.claude
**/.docker
**/node_modules
**/build
**/dist
*.zip
README.md
LICENSE
scripts
